@import "tailwindcss";

@theme {
  --color-Blue-200: hsl(193, 38%, 86%);
  --color-Green-300: hsl(150, 100%, 66%);

  --color-Blue-600: hsl(217, 19%, 38%);
  --color-Blue-900: hsl(217, 19%, 24%);
  --color-Blue-950: hsl(218, 23%, 16%);
}

body {
  @apply bg-Blue-950 text-Blue-200;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
